body {
    background-color: forestgreen;
}
.switch1 {
	display: block;
	font-family: C059;
	/* font-weight: bold; */
    font-size: 14px;
	padding: 4px;
    margin-right: 80%;
	border: 5px ridge black;
	color: black;
	background-color: lightgray;
    text-align: center;
    width: 10%;
}
.switch2 {
	display: block;
	font-family: C059;
	/* font-weight: bold; */
    font-size: 14px;
	padding: 4px;
	margin-left: 40%;
    margin-right: 40%;
	border: 5px ridge black;
	color: black;
	background-color: lightgray;
    text-align: center;
    width: 10%;
}
.switch3 {
	display: block;
	font-family: C059;
	/* font-weight: bold; */
    font-size: 14px;
	padding: 4px;
	margin-left: 85%;
	border: 5px ridge black;
	color: black;
	background-color: lightgray;
    text-align: center;
    width: 10%;
}
